*
{
    margin: 0px;
	padding: 0px;
}



header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
 //  background: linear-gradient(black 50%, skyblue, white); 
   background: black;
}
#big_wrapper{
	max-width: 1000px;
	margin: 20px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
// border: 3px solid red;
}

h4{
padding: 8px;
}

input[type=text]{
width: 40px;
}




#topStuff{

    opacity:0.7;
	border-bottom: 2px solid  khaki;
}

#top_header{
	font: bold 25px Tahoma; 
    color: khaki;

   //  opacity:0.9;
	}

#flag{
font-size: 11px;
}

ul{
float:right;
}

li a{
text-decoration: none;
 color:  khaki;
	font:  18px Tahoma; 
padding:10px;
}

li a:hover{
font:  19px Tahoma; 
}
#top_menu li{
    
	display: inline-block;
	list-style: none;
	font: bold 25px Tahoma;
    color: khaki;
}



.show {display:block;}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay p:hover, .overlay p:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.choiceButton{
width: 270px;
height: 30px;
line-height: 30px;
background: khaki;
border: 1px solid  rgba(0,0,0,0.4);
// border-radius: 10px;
box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
opacity: 0.8;
margin: 10px;

text-shadow: 1px 1px 2px white;
// color: khaki;
font-size: 18px;
}

.choiceButton:hover{
opacity: 1;
width: 271px;
height: 31px;

}



.submitButton{
width: 100px;
height: 30px;
line-height: 30px;
background: khaki;
border: 1px solid rgba(0,0,0,0.4);
 border-radius: 5px;
box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
opacity: 0.8;
margin: 10px;

text-shadow: 1px 1px 2px white;
// color: khaki;
font-size: 18px;
}

.submitButton:hover{
opacity: 1;
width: 101px;
height: 31px;

}

.closeButtonOptions{
opacity: 0.8;
width: 30px;
height: 30px;
margin: 5px;
font-size: 22px;
line-height: 30px;
border: 1px solid khaki;
box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.closeButtonOptions:hover{
opacity: 1;
width: 31px;
height: 31px;
}

.lightBorder {
 position: relative;
 z-index: 5;
    height: 0px;
    width: 240px;
    background: beige;
    opacity: 0.8;
    overflow: hidden;
    visibility: hidden;
font-size: 20px;
padding-left: 20px;
}




#container{
// border: 5px solid khaki;
// border: 1px solid khaki;
margin: 20px;
padding: 20px;
width: 80%
}


#editScheduleDiv{
width: 320px;
border: 5px solid green;
float: left;
}



#scheduleDiv{
// border: 5px solid green;
float: left;
padding: 10px;
width: 300px;
}


#scheduleDisplayDiv{
float: left;
border: 5px solid green;
// border: 1px solid khaki;
width: 250px;
opacity: .8;
padding: 10px;
background: beige;
// color: khaki;
font-size: 20px;
margin: 10px;
}

#messageDiv{

color: khaki;
font-size: 22px;
padding: 5px;
text-align: center;
opacity: 0.8;
// width: 150px;
// border: 1px solid khaki;
}


table, td {
    border: 3px solid khaki;
padding: 5px;
margin: 0px auto;
}
